body {

}

/* Top/header bar */
.topbar {
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}

/* OCP Picture */
#omni-pic {
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 0;
    float: left;
}

/* Pics Carousel */
#picCarousel {
}

.carousel-inner {
}

.left.carousel-control {
    color: #A3A7AE;
    background: none;
}

.right.carousel-control {
    color: #A3A7AE;
    background: none;
}
