body {
    font-family: 'Roboto', 'Segoe UI', 'Tahoma', sans-serif;
}

/* Top/header bar */
.topbar {
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}

/* OCP Picture */
#omni-pic {
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 0;
    float: left;
}

/* Pics Carousel */
.carousel-caption > h4 {
    font-weight: 300;
    font-size: 17px;
}



.left.carousel-control {
    color: #A3A7AE;
    background: none;
}

.right.carousel-control {
    color: #A3A7AE;
    background: none;
}

.carousel-caption {
    padding-top: 10px;
    margin-bottom: 20px;
    max-width: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-indicators {
    bottom: -1px;
}

/* 4 boxes of descriptive text */

#descText {
    margin: 50px 50px 50px 50px;
    border-bottom: 1px solid lightgray;
}

/* Text under Lowe Tech, Mediabreak, etc */
#descText > div:nth-child(1) > h6,
#descText > div:nth-child(2) > h6,
#descText > div:nth-child(3) > h6,
#descText > div:nth-child(4) > h6 {
    font-weight: 300;
    color: grey;
}


/* Horizontal rules under Lowe Tech, Mediabreak, etc styling */

#descText > div:nth-child(1) > hr,
#descText > div:nth-child(2) > hr,
#descText > div:nth-child(3) > hr,
#descText > div:nth-child(4) > hr {
    width: 50%;
    height: 5px;
    background-color: #FFC000;
    margin: 5px 25% 10px 25%;
}


/* Used to make sure bottom border lines up with lorem ipsum text on big screens */
@media (min-width: 1024px) {
    #descText > div:nth-child(1) {
        padding-left: 0;
    }

    #descText > div:nth-child(4) {
        padding-right: 0;
    }
}

/* Tab styling */
.nav-tabs > li.active > a,
.nav-tabs > li > a {
    border-radius: 0;
}

.nav-tabs > li > a {
    background-color: lightpink;
    color: black;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li > a:hover {
    background-color: #FFC000;
    color: black;
}

#textbox_with_tabs > div.col-xs-12.col-sm-12.col-md-2.col-lg-2.col-xl-2 {
    padding-right: 0;
    margin-right: 0;
}


/* Box next to tabs */
#efficiency > h4 {
    font-weight: 300;
    color: gray;
}

#textbox_with_tabs > div.col-xs-12.col-sm-12.col-md-10.col-lg-10.col-xl-10 {
    border: 5px solid #FFC000;
    padding-left: 20px;
}